* {
    margin: 0;
    padding: 0;
    @import: url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');
}

body {
   font-family: 'roboto', sans-serif;
   display: flex;
   flex-direction: column;
}

.container {
    display: flex;
    background-color: #1f2937;
    padding: 16px;
    justify-content: space-between;
    padding-left: 125px;
    padding-right: 125px;

}

.HL {
    display: flex;
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8;
    flex-direction: row;
    height: 45px;
    justify-items: center;
    align-items: center;
}

ul, li, #links-right {
    list-style-type: none;
    text-decoration: none;
    font-size: smaller;
    font-size: 14px;
    color: #E5E7EB;
    display: flex;
    flex-direction: row;
    gap: 18px;
    justify-items: center;
    align-items: center;

}

a:visited {
    color: rgb(207, 247, 5);
}

.cc {
    display: flex;
    background: #1f2937;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    padding: 65px 125px;
    gap: 20px;
}

.l2 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

}

.secondary-header {
    display: flex;
    font-size: 38px;
    font-weight: bolder;
    color: #F9FAF8;
    justify-content: flex-start;
}

.container-blue1 {
    display: flex;
    border-radius: 5px;
    background-color: #3882F6;
    /*padding: 16px 16px;*/
    height: 10px;
    width: 30px;
}

.image {
    background: #1f2937;
    display: flex;
    right: 50%;
}

.button {
    display: flex;
    background-color: #3882F6;
    color: #E5E7EB;
    border-radius: 5px;
    padding: 4px 6px;
    border-style: none;
    height: 10px;
    width: 30px;
}

img {
    display: flex;
    width: 150px;
    height: 150px;
    align-items: center;
    justify-items: flex-start;
}

.Title {
    font-size: 26px;
    font-weight: bolder;
    color: #1f2937;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 45px;
}

.container2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    width: auto;
    padding-bottom: 35px;
    flex-wrap: wrap;
}

.HB {
    display: flex;
    justify-content: space-between;
    text-align: center;
    gap: 35px;

}

.box {
    display: flex;
    border: 1px solid #3882F6;
    width: 100px;
    height: 100px;
    border-radius: 8px;
    max-width: 150px;
    justify-content: flex-start;
    align-items: flex-start;
}

.HB2 {
    display: flex;
    justify-content: space-between;
    height: 100px;
    width: 505px;
    gap: 35px;
}

.text {
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap;
    font-size: 11px;
}

.container3 {
    background: #e5e7eb;
    width: auto;
    height: auto;
    padding: 90px;
}

.middle-text {
    display: flex;
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #1f2937;
    text-align: center;
}

.name-text {
    display: flex;
    font-size: smaller;
    font-weight: bolder;
    color: #1f2937;
    justify-content: flex-end;
    padding-top: 20px;
    padding-right: 25px;

}

.container4 {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 65px;
}

.H8 {
    display: flex;
    border-radius: 5px;
    background-color: #3882F6;
    padding: 45px 135px;
    flex: 1;
    
}

.another-header {
    display: flex;
    font-size: 24px;
    color: #F9FAF8;
    flex-direction: column;
    align-items: flex-end;
}

.text2 {
    display: flex;
    font-size: 14px;
    color: #E5E7EB;
    justify-items: center;
    align-items: center;
}
.container-blue {
    display: flex;
    border-radius: 5px;
    background-color: #3882F6;
    /*padding: 16px 16px;*/
    width: 15px;
}


.button2 {
    border: 1px solid #e5e7eb;
    background-color: #3882F6;
    color: #E5E7EB;
    border-radius: 5px;
    padding: 8px 10px;
}

.footer {
    display: flex;
    background: #1f2937;
    height: 50px;
    justify-content: center;
    align-content: center;
}